<!DOCTYPE html>
<html id="ng-app" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Test Web Application</title>
    @Styles.Render("~/css")
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
        <hr />
    </header>

    <div class="content">
        @RenderBody()
    </div>

    <footer>
        <hr />
    </footer>

    @Scripts.Render("~/scripts")
    <script type="text/javascript">
        (function() {
            "use strict";

            angular.module('myApp')
                .constant('webServiceRoot', '@Html.Raw(ViewBag.WebServiceRoot)');
        })();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
